<div class="login">
  <div class="row">
    <div class="col-md-6">
      <div class="page-content">
        <h2>Login</h2>
        <div class="form-style form-style-3">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="form-inputs clearfix">

              <p class="login-text">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, onfocus: "if (this.value == 'Username') {this.value = '';}", onblur: "if (this.value == '') {this.value = 'Username';}"%>
                <i class="icon-user"></i>
              </p>

              <p class="login-password">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off", onfocus:"if (this.value == 'Password') {this.value = '';}", onblur: "if (this.value == '') {this.value = 'Password';}"%>
                <i class="icon-lock"></i>
                <a href="#">Forget</a>
              </p>

            </div>

            <p class="form-submit login-submit">
              <%= f.submit "Log in", class: "button color small login-submit submit" %>
            </p>

            <div class="rememberme">
              <% if devise_mapping.rememberable? -%>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              <% end %>
            </div>

          <% end %>
        </div>
      </div><!-- End page-content -->
    </div><!-- End col-md-6 -->

    <div class="col-md-6">
      <div class="page-content">
        <h2>Register Now</h2>
        <p>dodo ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravdio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequa. Vivamus vulputate posuere nisl quis consequat.</p>
        <a class="button small color signup">Create an account</a>
      </div><!-- End page-content -->
    </div><!-- End col-md-6 -->
  </div><!-- End row -->
</div><!-- End login -->

<%= render "devise/shared/links" %>
