<h1>PoliConnect</h1>

<h2>About Page</h2>

<ul>
  <li><%= link_to "Home", '/' %></li>
  <li><%= link_to "About", '/about' %></li>
  <%if !current_user %>
    <li><%= link_to('Log in', new_user_session_path) %></li>
    <li><%= link_to('Register', new_user_registration_path)  %></li>
  <% else %>
    <li><%= link_to('Sign Out', destroy_user_session_path, :method => :delete)  %></li>
  <% end %>
</ul>
