<!DOCTYPE html>
<html>
<head>
  <title>PoliConnect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<!-- <header>
  <h1><img src="http://i.imgur.com/h6yW2ej.png"><a href="/">PoliConnect</a></h1>
</br>
</br>
  <nav>
    <p>Connecting Policy Makers and Experts</p>
  </br>
  </br>
    <p><a href="/about">About</a></p>
    <% if !current_user %>
      <p><a href="/users/sign_in">Login</a></p>
      <p><a href="/users/sign_up">Signup</a></p>
    <% else %>
      <p><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></p>
    <% end %>
  </nav>
</header> -->

<%= yield %>

</body>
</html>
